<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./model/head %>
  <% include ./model/bs_css %>
  <title>Document</title>
</head>
<body class="bg-dark">
  <div class="container mt-5" style="text-align:center">
    <img src="/images/computer.jpg" style="margin:auto" title="Oops..." width="70%">
  </div>
  <% include ./model/bsjq_js %>
</body>
</html>