<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <% include ./model/head %>
    <% include ./model/bs_css %>
    <link rel="stylesheet" href="/stylesheets/freemasonry.css">
    <title>Document</title>
  </head>
  <body>
    <div class="row col-12 m-0 p-0 d-flex justify-content-center align-times-center">
      <div class="col-12 col-md-8 col-lg-6 mx-0 my-3">
        <img class="w-100" src="/images/Freemasonry.jpg" alt="">
        <div class="col-12 text-center mt-2 inputPwd">
          <img class="m-1 w-100" src="/images/pigpen.jpg" alt=""><br>
          <span id="msg">So...Tell me the password to access</span><br>
          <form action="/freemasonry" method="post">
            <input class="m-1" name="password" type="text"> <br>
            <button type="submit" class="btn btn-primary m-3">Enter</button>
          </form>
        </div>
      </div>
      <img id="candleL" src="/images/candle.gif" alt="">
      <img id="candleR" src="/images/candle.gif" alt="">
    </div>
    <% include ./model/bsjq_js %>
  </body>
</html>