<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <% include ./model/head %>
    <% include ./model/bs_css %>
    <link rel="stylesheet" href="/stylesheets/freemasonry.css">
    <link rel="stylesheet" href="/stylesheets/fullPage.css">
    <title>Document</title>
  </head>
  <body>
    <div class="row col-12 m-0 p-0 d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 mx-0 my-3">
        <p class="text-white text-center text-md-left">
          There left hand side. We are waiting for you.<br/><br/>
          王上：八：六二：一<br/>
          路：三：十八：二<br/>
          路：二十四：四四：十六<br/>
          <br/>
          36EF11SSOC
        </p>
      </div>
      <img id="candleL" src="/images/candle.gif" alt="">
      <img id="candleR" src="/images/candle.gif" alt="">
    </div>
    <% include ./model/bsjq_js %>
  </body>
</html>