body {
    font-family: '微軟正黑體';
}
#newFound {    font-family: '微軟正黑體';
    font-weight: bolder !important;
    color: white !important;
    background-color: gray !important;
}
#send {
    background-color: gray;
    font-weight: bold;
}
h1 {
    display: inline-block;
}
.phone {
    /* padding-left: 40%; */
    float: right;
}