<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <% include ../model/head %>
    <% include ../model/bs_css %>
    <title>Huh, Connect failed</title>
</head>
<body>
    <div class="row col-12 p-5 d-flex justify-content-center">
        You got some secret code. Do you remember something?
        SomeSecretDog, SomeCutePangolin, SomeDeliciousTuna, SomeAmazingWorld
        <!-- URL -->
    </div>
    <script>
        alert('Go there the reality place contain ○、□ and find them');
    </script>
    <% include ../model/bsjq_js %>
</body>
</html>