<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <% include ../model/head %>
    <% include ../model/bs_css %>
    <title>Hint_20</title>
</head>
<body>
    <div class="contauner p-5">
        <h1 style = "text-align:center; color:brown">扁擔寬，板凳長，那長的、灰的，誰留下了記號，指引尋找之人。</h1>
    </div>
    <% include ../model/bsjq_js %>
</body>
</html>