<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <% include ../model/head %>
    <% include ../model/bs_css %>
    <title>Hint_10</title>
</head>
<body>
    <div class="contauner p-5">
        <h1>方圓之間，立於僅見人文，離地數尺，足邊洞察玄機</h1>
    </div>
    <% include ../model/bsjq_js %>
</body>
</html>