<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <% include ../model/head %>
    <% include ../model/bs_css %>
    <title>Hint_01</title>
</head>
<body>
    <div class="contauner p-5">
        <h1>四時讀書樂之春</h1>
    </div>
    <% include ../model/bsjq_js %>
</body>
</html>