<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <% include ../model/head %>
    <% include ../model/bs_css %>
    <link rel="stylesheet" href="/stylesheets/fullPage.css">
    <title>Message</title>
  </head>
  <body>
    <div class="container-fluid h-100 d-flex justify-content-center align-items-center">
      <img class="col-12 col-md-6" src="/images/MJQU.png" alt="">
    </div>
    <% include ../model/bsjq_js %>
  </body>
</html>