<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <% include ../model/head %>
    <% include ../model/bs_css %>
    <title>Hint_01</title>
</head>
<body>
    <div class="container-fluid col-12 p-5">
        <h1 class="text-center">M04</h1>
        <p class="text-center">N / 26</p>
        <p class="text-center col-12"><img class="col-12" src="/images/圖書館.jpg" alt="圖書館"></p>
    </div>
    <% include ../model/bsjq_js %>
</body>
</html>