<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <% include ../model/head %>
    <% include ../model/bs_css %>
    <title>Hint_11</title>
</head>
<body>
    <div class="container-fluid col-12 p-5">
        <h1 class="text-center">VM,6</h1>
        <!-- C -->
        <p class="text-center">X / 44</p>
        <p class="text-center col-12"><img class="col-12" src="/images/人文學院.jpg" alt="人文學院"></p>
    </div>
    <% include ../model/bsjq_js %>
</body>
</html>